body {
    background-color: #1b1b1b;
    
}

.script-editor {
    font-family: "Roboto Mono";
    color: white;
}

.script-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-around;
    overflow-y: auto;
    
}

.script-dialog {
    width: 50%;
    height: auto;
    align-self: center;
}

.dialog {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.dialog-text {
    width: 80%;
}

.dialog-text:hover .dialog-button {
    display: inherit;
}

.dialog-text .dialog-button {
    display: none;
    background-color: #00000000;
    color: white;
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #888888;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
}

.dialog-text .dialog-button svg {
    fill: #888888;
}

.dialog-text .dialog-button:hover {
    border: 1px solid #FFFFFF;
}

.dialog-text .dialog-button:hover svg {
   fill: #FFFFFF;
}

.dialog-text .delete:hover {
    border: 1px solid #fc4e4e;
}

.dialog-text .delete:hover svg {
    fill: #fc4e4e;
}

.dialog-action {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
}

.input-character {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0%;
    margin: 0;
}

.character-select {
    height: 100%;
    font-size: 100%;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #00000000;
    color: white;
    border: 2px solid #888888;
    padding-inline: 10px;
}

.character-select:hover {
    border: 2px solid #FFFFFF;
}

.rounded {
    padding-inline: 0;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.selected{
    background-color: white;
    color: black;
    border: 2px solid white;
}

.input-dialog { 
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 10px;
}

.input-dialog textarea {
    font-size: 16px;
    color: white;
    width: 90%;
    height: 100%;
    border: 1px solid #888888;
    background-color: #00000000;
    border-radius: 5px;
    resize: none;
    padding: 1%;
}

.input-dialog textarea:focus {
    outline: none;
}

.input-dialog button {
    width: 8%;
    height: 100%;
    background-color: #00000000;
    color: white;
    border: 1px solid #888888;
    border-radius: 5px;
}

.input-dialog button:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}